<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.WorkEvaluationMapper">

    <!-- 分页获取用工评价信息 -->
    <select id="selectWorkEvaluatePage" resultType="java.util.LinkedHashMap">
        select
        we.id,
        we.staff_code,
        we.work_score,
        we.attendance_score,
        we.quality_score,
        we.`year`,
        we.`month`,
        we.appraiser,
        we.remark,
        we.create_date,
        we.del_flag,
        ai.name,
        ai.sex,
        ai.phone,
        from
        work_evaluation we
        left join archives_info ai on
        (ai.code = we.staff_code)
        where
        1 = 1
        <if test="workEvaluation.year != null and workEvaluation.year != ''">
            AND we.`year` = #{workEvaluation.year}
        </if>
        <if test="workEvaluation.month != null and workEvaluation.month != ''">
            AND we.`month` = #{workEvaluation.month}
        </if>
        <if test="workEvaluation.staffName != null and workEvaluation.staffName != ''">
            AND ai.name LIKE CONCAT('%',#{workEvaluation.staffName},'%')
        </if>
        order by
        we.create_date desc
    </select>
</mapper>
